header
	padding 61px 0 62px 0
	background-color #043493
.header_wrap
	margin 0 auto
	max-width 1280px
	width 100%
	padding 0 100px
	position relative
.flex_grid
	display flex
	flex-wrap wrap
	justify-content center
	.column1
		flex 8 1 0
	.column2
		flex 4 0 0
		position relative
.logo
	width 240px
	height 32px
	fill #4af777
	position absolute
	left 42px
	top -8px
.description
	color white
	padding-top 200px
	padding-bottom 140px
	h1
		font-family 'openSansBold'
		font-size 60px
		line-height 72px
		span
			color #4af777
	p
		font-size 18px
		line-height 4
.logos
	max-width 298px
	height 42px
	img
		max-width 100%
.illustration
	position absolute
	right 0
	width 285px
	height 715px
	background-image url("../img/illustration.png")