header
	.header_wrap
		.flex_grid
			.column1
				+icon('Compiler_Logo', 'logo')
				.description
					h1 Быстрый и удобный компилятор
						span .
					p Легко настроить и начать пользоваться
				.logos
					img(src='img/icons/logos.png')
			.column2
				.illustration
