@font-face
	font-family 'openSansBold'
	src url('../fonts/OpenSans-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal

@font-face
	font-family 'openSansRegular'
	src url('../fonts/OpenSans-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'PTMono'
	src url('../fonts/PTM55FT.ttf') format('truetype')
	font-weight normal
	font-style normal