@media screen and (max-width: 1200px)
	.inp_wrap
		flex-direction column
		align-items center
	.inp_item:not(:last-child)
		margin-bottom 35px
		
@media screen and (max-width: 991px)
	.column1
		flex 1 1 auto
	.column2
		display none
	.way1
		padding 92px 50px 0 50px
		
@media screen and (max-width: 768px)
	.logo
		margin-bottom 0px
	.description
		padding 100px 0px
		h1
			font-size 48px
			line-height 64px
	.way1
		padding 72px 50px 0 50px
	.way_wrap
		padding 0 60px 0 60px
	.way-without span
		font-size 48px
	.way-without p
		font-size 24px
	.path
		font-size 14px
		padding-top 20px
	.code
		overflow-x scroll
		
@media screen and (max-width: 576px)
	.header_wrap
		padding 0
	.logo
		left 20px
	.logos
		margin 0 auto
	.description
		padding 100px 0px
		text-align center
		h1
			font-size 36px
			line-height 48px
		p
			font-size 14px
			line-height 1
			padding-top 20px
	.way1
		padding 72px 0 0 0
	.way_wrap
		padding 0 10px
	.way-without
		padding 0
	.way-without p
		line-height 1.1
	.path
		text-align center
	.settings
		display none
	.code
		padding: 14px 20px 25px 20px